<div
  *ngIf="booksList !== null; else bookListNull"
  [ngClass]="{
    'flex w-full text-center': booksList.length === 0,
    'grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3': booksList.length > 0
  }">
  <ng-container *ngIf="booksList.length > 0; else elseBlock">
    <div
      *ngFor="let book of booksList"
      class="flex flex-col justify-start items-center pb-4">
      <div class="flex justify-center items-end pb-4 relative w-full">
        <a routerLink="/books/{{ book?.title }}/{{ book?.id }}" class="w-11/12">
          <img
            src="{{
              book.cover_img !== ''
                ? book.cover_img
                : '/assets/cover-placeholder.png'
            }}"
            class="w-full" />
        </a>
        <div
          class="absolute mb-6 bg-primary bg-opacity-40 px-2 py-1 rounded-full">
          <a
            class="cursor-pointer font-bold text-secondary-500 hover:text-secondary-400"
            routerLink="/books/{{ book.title }}/{{ book.id }}"
            >More</a
          >
          |
          <a
            class="cursor-pointer font-bold text-secondary-500 hover:text-secondary-400 shadow-sm"
            >Whishlist</a
          >
        </div>
      </div>
      <a
        routerLink="/books/{{ book?.title }}/{{ book?.id }}"
        class="hover:text-secondary-400">
        <h2 class="font-extrabold font-nunito text-xl text-center mb-2">
          {{ book.title }}
        </h2>
      </a>
      <div>
        <a
          *ngFor="let author of book.authors"
          routerLink="/authors/{{ author.name }}/{{ author.id }}"
          class="cursor-pointer text-sm font-bold font-nunito text-text text-center hover:text-secondary-400">
          {{ author.name }},
        </a>
      </div>
      <h3 class="text-text font-nunito text-center">
        {{ book.first_publish_year }}
      </h3>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <div
      class="text-4xl font-freeman my-7 text-primary w-full justify-center sm:text-8xl m-auto">
      No Books to Display Here
    </div>
  </ng-template>
</div>

<ng-template #bookListNull>
  <div
    class="text-4xl font-freeman my-7 text-primary w-full text-center sm:text-8xl m-auto">
    Loading
  </div>
</ng-template>
