<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
  <div
    *ngFor="let book of booksList"
    class="flex flex-col justify-start items-center pb-4">
    <div class="flex justify-center items-end pb-4 relative w-full">
      <img
        src="{{
          book.cover_img !== ''
            ? book.cover_img
            : '/assets/cover-placeholder.png'
        }}"
        class="w-11/12" />
      <div class="absolute mb-6">
        <a
          class="cursor-pointer text-blue-700 underline"
          routerLink="/books/{{ book.id }}"
          >More</a
        >
        |
        <a class="cursor-pointer text-blue-700 underline">Whishlist</a>
      </div>
    </div>
    <h2 class="font-extrabold font-nunito text-xl text-center mb-2">
      {{ book.title }}
    </h2>
    <div>
      <a
        *ngFor="let author of book.authors"
        routerLink="/authors/{{ author.name }}/{{ author.id }}"
        class="cursor-pointer text-sm font-bold font-nunito text-text text-center hover:text-secondary-400">
        {{ author.name }},
      </a>
    </div>
    <h3 class="text-text font-nunito text-center">
      {{ book.first_publish_year }}
    </h3>
  </div>
</div>
